 <ion-side-menus >

<!-- <ion-nav-bar class="nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear">
          <i class="icon ion-ios7-arrow-back"></i>
          
        </ion-nav-back-button>
</ion-nav-bar>  -->
<!-- 
<ion-nav-bar class="nav-title-slide-ios7">
      <ion-nav-buttons side="left">
      <button class="button back-button button-icon" ng-click="$ionicGoBack()"></button>
      </ion-nav-buttons>
</ion-nav-bar> -->
<ion-side-menu-content drag-content="false">
<div ui-view='home-tab'></div>


<div class="bar bar-footer footernav">
  <ion-scroll direction="x" style="width: 650px; height: 50px">

  <div style="width: 650px; height: 50px;" ng-init="activeTab = 'INTEREST'">
    <div class="displayInlineBlock footerTab" ng-class="{'activeFooterTab': activeTab == 'INTEREST'}" ng-click="activeTab = 'INTEREST'" ui-sref="tabs.theWall">
      INTEREST
    </div>
    <div class="displayInlineBlock footerTab" ng-class="{'activeFooterTab': activeTab == 'RIGHT NOW'}" ng-click="activeTab = 'RIGHT NOW'" ui-sref="tabs.rightNow">
      RIGHT NOW
    </div>
    <div class="displayInlineBlock footerTab" ng-class="{'activeFooterTab': activeTab == 'EXPERIENCE'}" ng-click="activeTab = 'EXPERIENCE'" ui-sref="tabs.experience">
      EXPERIENCE
    </div>
    <div class="displayInlineBlock footerTab" ng-class="{'activeFooterTab': activeTab == 'OFFERS'}" ng-click="activeTab = 'OFFERS'" ui-sref="tabs.offers" >
      OFFERS
    </div>
    <div class="displayInlineBlock footerTab" ng-class="{'activeFooterTab': activeTab == 'PHOTOES'}" ng-click="activeTab = 'PHOTOES'" ui-sref="tabs.photos">
      PHOTOS
    </div>
    <div class="displayInlineBlock footerTab" ng-class="{'activeFooterTab': activeTab == 'PROFILE'}" ng-click="activeTab = 'PROFILE'" ui-sref="tabs.profile">
      PROFILE
    </div>
  </div>
 </ion-scroll>
  
</div>
</ion-side-menu-content>
 <!-- <ion-side-menu side="right">
  <ion-side-menu-content>
  dgjsdhfdgjsdfgjkdfgkdjgfkdg
     </ion-side-menu-content>

  </ion-side-menu>

  </ion-side-menus> -->
<div ui-view='menu-left'></div>
  </ion-side-menus>