@font-face {
    font-family: digital_font;
    src: url('fonts/Xolonium-Regular.otf');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body{
  font-size: 14px;
  background-color: #000;
}
.homeContainer {
  width: 100%;
  z-index: 1;
  position: relative;
  /*-webkit-perspective: 1200;*/
  max-width: 775px;
  margin: 0 auto;    
}
.digitalFontText{
  font-family: digital_font;
}
.mainBG{
  background: url("../img/vault_bg_ipad.png") no-repeat top center;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.loading-screen-bg{
  background: url("../img/Intro01.jpg") no-repeat top center;
  background-size: 100%;
  width: 100%;
  height: 100%;
}
.introBG02{
  background: url("../img/Intro02.jpg") no-repeat top center;
  background-size: 100%;
}
.introBG03{
  background: url("../img/Intro03.jpg") no-repeat top center;
  background-size: 100%;
}.introBG04{
  background: url("../img/Intro04.jpg") no-repeat top center;
  background-size: 100%;
}.introBG05{
  background: url("../img/Intro05.jpg") no-repeat top center;
  background-size: 100%;
}.introBG06{
  background: url("../img/Intro06.jpg") no-repeat top center;
  background-size: 100%;
}.introBG07{
  background: url("../img/Intro07.jpg") no-repeat top center;
  background-size: 100%;
}
.userDetail-bg{
  background: url("../img/login_bg.jpg") no-repeat top center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%; 
}
.leftSideBar{
  background: url("../img/left_side_bar.jpg") no-repeat top center;
  background-size: 100% 100%;
  width: 10px;
  height: 100%; 
  position: absolute;
  left: 10%;
}
.rightSideBar{
  background: url("../img/right_side_bar.jpg") no-repeat top center;
  background-size: 100% 100%;
  width: 10px;
  height: 100%;
  position: absolute;
  right: 10%; 
}

.doorClose {
  background: url("../img/door_closed.png") no-repeat;
  background-size: 100%;
  height: 100%;
  width: 59%;
  z-index: 10;
  background-position: 5px 21.5%;
  float: left;
  position: absolute;
}
.doorWheel {
  background: url("../img/door_wheel.png") no-repeat;
  background-size: 80%;
  height: 33%;
  width: 35%;
  z-index: 10;
  /*background-position: 66.5% 34.5%;*/
    position: relative;
    top:21%;
    left: 44%;
    
}
.rotateDoorimg{
    position: relative;
    top: 25%;
    left: 45%;
    width: 33%;
}
.dialimg{
    position: relative;
    top: 29.34%;
    left: 30%;
    width: 9.1%;
}
.grandPrizeBG{
  background: url("../img/grand_prize_gold_bar_bg.jpg") no-repeat;
  background-size: 55% 55%;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  background-position: 20% 27%;
}

.grandPrizeTextBG{
  background: url("../img/grand_prize_bg.png") no-repeat;
  background-size: 100% 100%;
  height: 16%;
  width: 35%;
  z-index: -1;
  position: absolute;
  top: 30%;
  left: 18%;
  text-align: center;
  padding: 2%;
}
.grandPrizeRing{
  background: url("../img/grand_winning_glow.png") no-repeat;
  background-size: 100% 100%;
  height: 53%;
  width: 40%;
  position: absolute;
  top: 13%;
  left: 16%;
}
.grandPrizeGlow{
  background: url("../img/grand_prize_door_glow.png") no-repeat;
  background-size: 100% 100%;
  height: 53%;
  width: 40%;
  position: absolute;
  top: 13%;
  left: 16%;
}
.grandPrizeAmount{
  height: 30px;
  margin-bottom: 20px;
  font-family: digital_font;
  font-size: 2.5em;
    font-weight: bold;
   background: -webkit-linear-gradient(top, #FBE87A, #FEF9D8);
	background: linear-gradient(top, #FBE87A, #FEF9D8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.amount_doller{
  background: url("../img/grand_winnings_numbers.png") no-repeat;
  background-size: auto 100%;
  height: 30px;
  width: 30px;
  background-position-x: -350px;
  display: inline-block;
}
.amount_1{
  background: url("../img/grand_winnings_numbers.png") no-repeat;
  background-size: auto 100%;
  height: 30px;
  width: 30px;
  background-position-x: 7px;
  display: inline-block;
}
.amount_2{
  background: url("../img/grand_winnings_numbers.png") no-repeat;
  background-size: auto 100%;
  height: 30px;
  width: 30px;
  background-position-x: -25px;
  display: inline-block;
}
.amount_3{
  background: url("../img/grand_winnings_numbers.png") no-repeat;
  background-size: auto 100%;
  height: 30px;
  width: 30px;
  background-position-x: -60px;
  display: inline-block;
}
.amount_4{
  background: url("../img/grand_winnings_numbers.png") no-repeat;
  background-size: auto 100%;
  height: 30px;
  width: 30px;
  background-position-x: -95px;
  display: inline-block;
}
.amount_5{
  background: url("../img/grand_winnings_numbers.png") no-repeat;
  background-size: auto 100%;
  height: 30px;
  width: 30px;
  background-position-x: -127px;
  display: inline-block;
}
.amount_6{
  background: url("../img/grand_winnings_numbers.png") no-repeat;
  background-size: auto 100%;
  height: 30px;
  width: 30px;
  background-position-x: -160px;
  display: inline-block;
}
.amount_7{
  background: url("../img/grand_winnings_numbers.png") no-repeat;
  background-size: auto 100%;
  height: 30px;
  width: 30px;
  background-position-x: -195px;
  display: inline-block;
}
.amount_8{
  background: url("../img/grand_winnings_numbers.png") no-repeat;
  background-size: auto 100%;
  height: 30px;
  width: 30px;
  background-position-x: -228px;
  display: inline-block;
}
.amount_9{
  background: url("../img/grand_winnings_numbers.png") no-repeat;
  background-size: auto 100%;
  height: 30px;
  width: 30px;
  background-position-x: -262px;
  display: inline-block;
}
.amount_0{
  background: url("../img/grand_winnings_numbers.png") no-repeat;
  background-size: auto 100%;
  height: 30px;
  width: 30px;
  background-position-x: -295px;
  display: inline-block;
}
.amount_comma{
  background: url("../img/grand_winnings_numbers.png") no-repeat;
  background-size: auto 100%;
  height: 30px;
  width: 20px;
  background-position-x: -325px;
  display: inline-block;
}

.clientDetails{
  background: url("../img/client_logo_bg.png") no-repeat;
  background-size: 100% 100%;
  z-index: 10;
  position: absolute;
  bottom: 3%;
  left: 10%;
  text-align: center;
  padding: 15px 15px 15px 15px;
  width: auto;
  
}
.clientDetails img{
  width: 100%;
}
.clientDetails .clientName{
  font-size: 1.2em;
    font-weight: bold;
  color: #071D46;  
  font-family: digital_font;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 2)
}
.clientDetails .clientAmount{
  font-size: 2em;
  margin-top: 6px;
    font-weight: bold;
  color: #A3010B;
  font-family: digital_font;
    text-shadow: 1px 0px 1px rgba(255, 255, 255, 2)
}
.clientDetailslanding{
  background: url("../img/client_logo_bg.png") no-repeat;
  background-size: 100% 100%;
  z-index: 10;
  position: absolute;
  right: 1%;
  top: 8%;
  text-align: center;
  padding: 15px 15px 15px 15px;
  width: auto;
}

.clientDetailslanding .clientName{
  font-size: 1.2em;
    font-weight: bold;
  color: #071D46;  
  font-family: digital_font;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 2)
}
.clientDetailslanding .clientAmount{
  font-size: 2em;
  margin-top: 6px;
    font-weight: bold;
  color: #A3010B;
  font-family: digital_font;
    text-shadow: 1px 0px 1px rgba(255, 255, 255, 2)
}
.clintDetailLogin{
  text-align: center;
  clear: both;
}
.clintDetailLogin .clientDetails{
  position: static;
  display: inline-block;
  left: 26%;
  margin-bottom: 30px;
}

.gameInfo {
  background: url("../img/key_panel_bg.jpg") no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 33%;
  z-index: 10;
  float: right;
  position: relative;
}
.gameLogoBG {
  background: url("../img/key_panel_logo_bg.png") no-repeat;
  background-size: 100% 100%;
  height: 12%;
  width: 82%;
  z-index: 10;
  margin: 0 auto;
  margin-top: 2%;
}
.gameLogo{
  background: url("../img/key_panel_logo.png") no-repeat;
  background-size: 100% 80%;
  height: 100%;
  width: 52%;
  z-index: 10;
  margin: 0 auto;
  background-position: center center;
}
.soundDisplay {
  background: url("../img/key_panel_sound_display.png") no-repeat center center;
  background-size: 100% 86%;
  height: 4%;
  width: 36%;
  z-index: 10;
  margin: 0 auto;
}
.keyPanel{
  background: url("../img/key_panel_digit_bg.png") no-repeat;
  background-size: 100% 100%;
  height: 63%;
  width: 82%;
  z-index: 10;
  margin: 0 auto;
  text-align: center;
}
.keyPanel .codeValue{
  border: 1px solid #002AC4;
  width: 80%;
  text-align: left;
  margin: 0 auto;
  font-size: 1.7em;
  color: #9FFB2D;
  padding: 2% 10px;
  font-family: digital_font;
  text-shadow: 0px 0px 10px #8dfb06;
}
.infoText img{
  width: 100%;
}
.digits{
  border: 1px solid #002AC4;
  width: 84%;
  margin: 0 auto;
  margin-top: 2%;
  padding: 2% 3%;
}
.digits .row{
    text-align: center;
    padding: 0px;
}
.digits .digit{
  display: inline-block;
  width: 31%;
}
.digits .digit img{
  width: 100%;
}
.enterBtn{
  /*background: url("../img/key_panel_enter_btu_normal.png") no-repeat;
  background-size: 100% 100%;
  height: 12%;
  width: 92%;*/
  z-index: 10;
  padding: 0% 10px;
  border: 0px;
  margin-top: 6%;
}
.enterBtn img{
  width: 100%;
}
.prizeList img{
  width: 100%;
}
.prizeList{
  width: 82%;
  text-align: center;
  margin: 0 auto;
}
.divider{
  background: url("../img/key_panel_divider.png") no-repeat;
  background-size: 100% 100%;
  height: 5px;
  width: 100%;
  z-index: 10;
  display: block;
  margin: 0 auto;
}
.attemptsDiv{
  width: 82%;
  margin: 0 auto;
  /*position: absolute;
  height: 20%;
  bottom: 0;
  left: 9%;
  text-align: center;*/
}
.attemptsValue {
  background: url("../img/key_panel_attempts_left_holder.png") no-repeat;
  background-size: 100% 100%;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.7em;
  color: #FFF;
  font-weight: normal;
  padding: 3% 10px;
  margin-bottom: 2%;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  font-family: digital_font;
}
.attemptsText{
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
}
.attemptsText img{
  width: 82%;
}

/* animation css */
.doorClose {
  /*background: url("../img/door_closed.png") no-repeat;*/
  transition: 1s transform linear;
  transform-origin: left;
}

.openDoor1{
  transform: rotateY(-50deg);
  transform-origin: 8px;
  transition: 5s linear;
}
.door1{
  background: url("../img/door_open_01.png") no-repeat;
  background-size: 145%;
  background-position: 98% -25%;
  width: 59%;
}
.door2{
  background: url("../img/door_open_02.png") no-repeat;
  background-size: 145%;
  background-position: 98% -25%;
  width: 59%;
  /*transition: 0.4s linear;*/
}.door3{
  background: url("../img/door_open_03.png") no-repeat;
  background-size: 145%;
  background-position: 98% -25%;
  width: 59%;
  /*transition: 0s linear;*/
}.door4{
  background: url("../img/door_open_04.png") no-repeat;
  background-size: 145%;
  background-position: 98% -25%;
  width: 59%;
  /*transition: 0s linear;*/
}.door5{
  background: url("../img/door_open_05.png") no-repeat;
  background-size: 145%;
  background-position: 98% -25%;
  width: 59%;
  /*transition: 0s linear;*/
}.door6{
  background: url("../img/door_open_06.png") no-repeat;
  background-size: 145%;
  background-position: 98% -25%;
  width: 59%;
  /*transition: 0s linear;*/
}
.door7{
  background: url("../img/door_open_07.png") no-repeat;
  background-size: 145%;
  background-position: 98% -25%;
  width: 59%;
  /*transition: 0s linear;*/
}
.door8{
  background: url("../img/door_open_08.png") no-repeat;
  background-size: 145%;
  background-position: 98% -25%;
  width: 59%;
  /*transition: 0s linear;*/
}.door9{
  background: url("../img/door_open_09.png") no-repeat;
  background-size: 145%;
  background-position: 98% -25%;
  width: 59%;
  /*transition: 0s linear;*/
}.door10{
  background: url("../img/door_open_10.png") no-repeat;
  background-size: 145%;
  background-position: 98% -25%;
  width: 59%;
  /*transition: 0s linear;*/
}
.door11{
  background: url("../img/door_open_11.png") no-repeat;
  background-size: 145%;
  background-position: 98% -25%;
  width: 59%;
  /*transition: 0s linear;*/
}
.door12{
  background: url("../img/door_open_12.png") no-repeat;
  background-size: 145%;
  background-position: 98% -25%;
  width: 59%;
  /*transition: 0s linear;*/
}
.door13{
  background: url("../img/door_open_13.png") no-repeat;
  background-size: 145%;
  background-position: 98% -25%;
  width: 59%;
  /*transition: 0s linear;*/
}

/* popup style start*/
  .ngdialog.ngdialog-theme-default .ngdialog-content{
      background: url("../img/popup_defult_bg.png") no-repeat top center;
  background-size: 100% 100%;
  height: 250px;
  }
  
  .popupContainer .closeBtn{
    background: url("../img/popup_close_btn.png") no-repeat top center;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 2px;
  }
  .popupContainer .popupTitle{
        font-size: 18px;
    color: #F00;
    font-weight: 500;
    /* padding-left: 51px; */
    text-align: center;

  }
  .popupContainer .popupTitle img{
    width: 64%;
  }
  .popupContainer .popupBody{
    text-align: center;
    margin-top: 74px;
  }
  .popupContainer .popupBody .popupText{
    font-size: 2em;
  }
  .popupContainer .amount{
    color: #fff;
    font-size: 26px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    font-family: digital_font;
  }
  .youWonContainer .popupBody {
    margin-top: 65px;
  }
  .prizeDetailContainer .popupBody{
    margin-top: 13px;
  }
  .requiredPopup .popupTitle img{
    width: 120px;
  }
  .requiredPopup .popupBody{
    padding: 31px;
    margin-top: 20px;
  }
  .requiredPopup .popupBody .popupText{
    color: #39fdfc;
    text-shadow: 0px 0px 10px #0493ff;
    line-height: 40px;
  }
  .prizeDetailContainer .borderBlue{
    border-top: 1px solid #00F;
    width: 82%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .prizeDetailContainer .popupTitle img{
    width: 180px;
  }
/* popup style end*/

.footer{
  color: #b7b7b7;
  font-size: 0.8em;
  font-family: arial;
  text-align: center;
  margin-top: 8px;
}
.footer .bar{
  display: inline-block;
    height: 12px;
    border-left: 1px solid #FFF;
    margin: 0px 5px;
}
.footer .copyRights{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 0.89em;
}
.loading{
  font-size: 30px;
  color: #FFF;
  text-align: center;
  margin-top: 30%;
}
.loadingMsg{
    font-size: 1.5em;
    color: #FFF;
    font-family: digital_font;
    position: absolute;
    bottom: 25%;
    right: 14%;
}
.playButton{
    position: absolute;
    bottom: 20%;
    right: 10%;
    background: url("../img/intro_play_btn.png") no-repeat top center;
    background-size: 100%;
    width: 25%;
    height: 9%;
    cursor: pointer;

}
.submitButton{
   /* position: absolute;
    bottom: 28%;
    right: 39%;*/
    background: url("../img/login_submit_btn.png") no-repeat top center;
    background-size: 100% 100%;
    width: 25%;
    height: 30px;
    cursor: pointer;
        margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.submitButtonActive{
    /*position: absolute;
    bottom: 28%;
    right: 39%;*/
    background: url("../img/login_submit_btn_press.png") no-repeat top center;
    background-size: 100% 100%;
    width: 25%;
    height: 30px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.playButtonActive{
    position: absolute;
    bottom: 20%;
    right: 10%;
    background: url("../img/intro_play_btn_press.png") no-repeat top center;
    background-size: 100%;
    width: 25%;
    height: 9%;
    cursor: pointer;

}
.youWonText{
    font-family: digital_font;
    font-size: 1.5em;
    font-weight: bold;
   background: -webkit-linear-gradient(top, #FBE87A, #FEF9D8);
	background: linear-gradient(top, #FBE87A, #FEF9D8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}
.grandPrizeText{
    font-family: digital_font;
    font-size: 1em;
    font-weight: bold;
    background: -webkit-linear-gradient(top, #FBE87A, #FEF9D8);
	background: linear-gradient(top, #FBE87A, #FEF9D8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.infoText {
    font-family: digital_font;
    color: #fff;
    padding: 3px 0;
    text-shadow: 0px 0px 10px #fff;
    font-size: 0.9em;
}

.logoContainer{
  width: 28%;
  height: 65px;
  margin: 0 auto;
  padding-top: 1%;
}
.logoContainer .gameLogoBG{
  height: 100%;
  width: 100%;
}
.loginDetails{
  width: 65%;
  margin: 0 auto;
  font-family: digital_font;
  font-size: 1em;
  padding: 2%;
  margin-top: 3%;
  height: 30%;
  overflow-y: auto;
}
.loginDetails .inputLabel{
  display: inline-block;
  margin-right: 3%;
  width: 29%;
  text-align: right;
  font-size: 1.2em;

}
.loginDetails input{
  display: inline-block;
  width: 60%;
  background: url("../img/fild_box_login.png") no-repeat top center;
    background-size: 100% 100%;
    height: 30px;
outline: none;
padding: 7px;
/* margin: 0; */
border: 0;
font-size: 1.3em;
color: #FFF;
  font-family: digital_font;
}
.userDetailContainer{
  height: initial !important;
}
.requiredIcon{
      font-size: 12px;
    vertical-align: super;
    color: #ca1515;
}
/*@media only screen and (max-width: 700px){*/
   .max700 .clientDetails .clientName,.max700 .clientDetailslanding .clientName{
        font-size: 1.2em;
    }
    .max700 .clientDetails .clientAmount,.max700 .clientDetailslanding .clientAmount{
      font-size: 1.8em;
    } 
    .max700 .infoText {
        font-size: 0.8em;
    }
    .max700 .youWonText{
        font-size: 1.4em;
        margin-bottom: 5px;
    }
    .max700 .grandPrizeAmount{
        font-size: 2.4em;
        margin-bottom: 15px;
    }
    .max700 .grandPrizeText{
        font-size: 0.9em;
    }
   .max700 .loginDetails .inputLabel {
    font-size: 1em;
    }
    .max700 .loginDetails input {
        font-size: 1.1em;
        height: 28px;
    }
    .max700 .submitButton{
        bottom: 26%;
        width: 24%;
    }
/*    
}
@media only screen and (max-width: 620px) {*/
   .max620 .keyPanel .codeValue{
        font-size: 1.5em;
    }
    .max620 .digits .digit{
        width: 28%;
    }
    .max620 .keyPanel{
        width: 80%;
        height: 60%;
    }
    .max620 .attemptsValue{
        font-size: 1.5em;
    }
    .max620 .clientDetails .clientName,.max620 .clientDetailslanding .clientName{
        font-size: 1em;
    }
    .max620 .clientDetails .clientAmount,.max620 .clientDetailslanding .clientAmount{
      font-size: 1.4em;
    }
    .max620 .infoText {
        font-size: 0.7em;
    }
    .max620 .youWonText{
        font-size: 1.2em;
        margin-bottom: 5px;
    }
    .max620 .grandPrizeAmount{
        font-size: 2.1em;
        margin-bottom: 5px;
    }
    .max620 .grandPrizeText{
        font-size: 0.8em;
    }
    .max620 .loginDetails .inputLabel {
        font-size: 0.8em;
    }
    .max620 .loginDetails input {
        font-size: 0.9em;
        height: 25px;
    }
    .max620 .submitButton{
        bottom: 24%;
        width: 20%;
    }
    /*
}
@media only screen and (max-width: 520px) {*/
    .max520 .keyPanel .codeValue{
        font-size: 1.2em;
    }
    .max520 .attemptsValue{
        font-size: 1.2em;
    }
    .max520 .clientDetails .clientName{
        font-size: 0.8em;
    }
    .max520 .clientDetailslanding .clientName{
        font-size: 0.6em;
    }
    .max520 .clientDetails .clientAmount{
      font-size: 1.25em;
    }
    .max520 .clientDetailslanding .clientAmount{
      font-size: 1.1em;
    }
    .max520 .infoText {
        font-size: 0.6em;
    }
    .max520 .youWonText{
        font-size: 0.9em;
        margin-bottom: 5px;
    }
    .max520 .grandPrizeAmount{
        font-size: 1.6em;
        margin-bottom: 0px;
    }
    .max520 .grandPrizeText{
        font-size: 0.6em;
    }
    .max520 .loadingMsg{
        font-size: 1.3em;
    }
    .max520 .loginDetails .inputLabel {
        font-size: 0.6em;
    }
    .max520 .loginDetails input {
        font-size: 0.7em;
        height: 18px;
    }
    .max520 .submitButton{
        bottom: 24%;
        width: 18%;
    }
    .max520 .clintDetailLogin .clientDetails {
    left: 24%;
    }
/*    
}
@media only screen and (max-width: 400px) {*/
    .max400 .keyPanel .codeValue{
        font-size: 0.9em;
        padding: 2% 8px;
    }
    .max400 .attemptsValue{
        font-size: 0.9em;
    }
    .max400 .keyPanel{
        height: 58%;
        
    }
    .max400 .digits{
        padding: 2% 8px;
    }
    .max400 .clientDetails .clientName,.max400 .clientDetailslanding .clientName{
        font-size: 0.4em;
    }
    .max400 .clientDetails .clientAmount{
      font-size: 0.9em;
    }
    .max400 .clientDetailslanding .clientAmount{
      font-size: 0.8em;
    }
    .max400 .infoText {
        font-size: 0.45em;
    }
    
    .max400 .youWonText{
        font-size: 0.8em;
        margin-bottom: 5px;
    }
    .max400 .grandPrizeAmount{
        font-size: 1em;
        margin-bottom: 0px;
        height: 20px;
    }
    .max400 .grandPrizeText{
        font-size: 0.6em;
    }
     .max400 .loadingMsg{
        font-size: 1.1em;
    }
     .max400 .loginDetails .inputLabel {
        font-size: 0.4em;
         width: 20%;
    }
    .max400 .loginDetails input {
        font-size: 0.5em;
        height: 12px;
        background-size: 100% 80%;
    }
    .max400 .submitButton{
        bottom: 24%;
        width: 17%;
    }
    .max400 .clintDetailLogin .clientDetails {
    left: 26%;
    }
/*    
}*/

