<div class="positionRelative">
	<div class="closeBtn"><div class="ion-close icon" ng-click="closeCheersPopup()"></div></div>
	<div class="cheersImg">
		<img src="img/glassmateLogo.png"/>
	</div>
	<div class="subTitle">
		<p>Interested People</p>
	</div>
	<div class="people">
		<div class="profileDP" ng-repeat="likePerson in likeBy">
			<img ng-src="{{baseUrlStatic}}{{likePerson.picPath}}">
			<span>{{likePerson.name}}</span>		
		</div>
		
	</div>
	<div class="subTitle">
		<p>Say Cheers to Join Them !!</p>
	</div>
	<div>
		<button class="cheers-button" ng-click="likeThisPost(cheerModelPost)">CHEERS</button>
	</div>
</div>