<div class="modal" ng-click="hideDeletCheers()">
        <header class="bar bar-header ">


			  <button class="button close-button button-icon" ng-click="closePostDetailModal();"><i class="icon ion-chevron-left"></i></button>
			  <h1 class="title">{{postModelDetail.name | uppercase }}</h1>	
              <!-- <button class="button post-button" ng-click="postData();">POST</button> -->
        </header>
        
	<ion-content class="home_container wallModal has-header has-footer">
		
		<div class="list borderGreen" ng-init="initPostDetailModel()">
			<div class="row ">
				<div class="col col-25 marginPadding0">
					<div class="img_box_post">
						<img ng-src="{{baseUrlStatic}}{{postModelDetail.picPath}}">		
					</div>
				</div>
				<div class="col col-75">
					<div class="usrName_post">
						{{postModelDetail.name | uppercase }}
					</div>
					<div class="time_post">3h ago</div><br>
					
					<div class="row marginPadding0">
						<div class="col marginPadding0">
							<p>Hi, i am in {{postModelDetail.placeName}} from {{postModelDetail.startTime}} to {{postModelDetail.endTime}} on {{postModelDetail.date| date: dd/m/yy}}.</p>
							<p>{{postModelDetail.postDisc}}</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<img class="img_place" ng-src="{{postModelDetail.placePic}}">
				</div>
			</div>
			<div class="row textCenter">
					<div class="col col-33" ng-class="{'liked': postModelDetail.isLiked == userDetails.userID}">
					  <span class="ion-android-favorite-outline btn_post"></span><br/>
					  <div class="btnPost">{{postModelDetail.likeCount}} Likes</div>
					</div>
					<div class="col col-33 textCenter">
					  <span class="ion-android-favorite-outline btn_post"> </span><br/>
					  <div class="btnPost">93 Comments</div>
					</div>
					<div class="col col-33 textCenter">
					  <span class="ion-android-favorite-outline btn_post"></span> <br/>
					  <div class="btnPost">Share</div>
					</div>
					
			</div>

			<div class="peopleInterested">
				<div class="borderBlack"></div>
				<div class="subHeader"><h5>People Interested</h5></div>
				<div class="people">
					<div class="profileDP" ng-repeat="likePerson in likeBy" on-hold="onHold($event)">
						<img ng-src="{{baseUrlStatic}}{{likePerson.picPath}}">
						<span>{{likePerson.name}}</span>
						<div class="ion-close icon" ng-click="deleteCheers($event, {{likePerson.postId}}, {{likePerson.likeId}})"></div>		
					</div>
					
				</div>
				<div class="borderBlack"></div>
				<div class="subHeader"><h5>Comments</h5></div>
				<div class="comments">
				
					<div class="" ng-repeat="comment in commentsForPost" ng-class="{'rightComments': comment.commentBy == userDetails.userID, 'leftComments': comment.commentBy != userDetails.userID}">
						<div class="commentsText card">{{comment.commentDisc}}</div>
						<div class="profileDP">
							<img ng-src="{{baseUrlStatic}}{{comment.picPath}}">		
						</div>
					</div>
					<div class="rightComments">
						<div class="commentsText card">Hii</div>
						<div class="profileDP">
							<img src="img/sty.jpg">		
						</div>
					</div>
					<div class="leftComments">
						<div class="commentsText card">Hii, Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</div>
						<div class="profileDP">
							<img src="img/sty.jpg">		
						</div>
					</div>
				</div>
				
			</div>

		</div>

	</ion-content>
	<div class="newComments bar footernav ">
		<textarea type="text" placeholder="Add Comments" ng-model="comment.newComment"></textarea>
		<button class="button post-button" ng-click="addComments(postModelDetail)">Post</button>
	</div>
</div>
