<div class="positionRelative">
	<div class="closeBtn"><div class="ion-close icon" ng-click="closeProfilePopup()"></div></div>
	<div class="row popupDp">
		<div class="col col-30 marginPadding0" >
			<div class="img_box_post">
				<img ng-src="{{baseUrlStatic}}{{profileDetails.picPath}}" ng-if="profileDetails.picPath != null">
				<img ng-src="img/login_user.png" ng-if="profileDetails.picPath == null"/>		
			</div>
		</div>
		<div class="col col-70 marginPadding0 userName">
			<div class="usrName_post">
				{{profileDetails.name}}
			</div>
			
		</div>
	</div>
	<div class="row ">
		<div class="col col-30 marginPadding0" >
			<div class="usrName_post">
				GENDER:
			</div>
		</div>
		<div class="col col-70 marginPadding0">
			{{profileDetails.gender}}
		</div>
	</div>
	<div class="row ">
		<div class="col col-30 marginPadding0" >
			<div class="usrName_post">
				About Me:
			</div>
		</div>
		<div class="col col-70 marginPadding0">
			{{profileDetails.aboutYou}}
		</div>
	</div>
	<div class="row ">
		<div class="col col-30 marginPadding0" >
			<div class="usrName_post">
				OCCUPATION:
			</div>
		</div>
		<div class="col col-70 marginPadding0">
			{{profileDetails.occupation}}
		</div>
	</div>
	<div class="row ">
		<div class="col col-30 marginPadding0" >
			<div class="usrName_post">
				LOCATION:
			</div>
		</div>
		<div class="col col-70 marginPadding0">
			{{profileDetails.location}}
		</div>
	</div>
	<div class="row ">
		<div class="col col-30 marginPadding0" >
			<div class="usrName_post">
				DOB:
			</div>
		</div>
		<div class="col col-70 marginPadding0">
			MARCH- 1990
		</div>
	</div>


	
</div>