<ion-view title="THE WALL">
	<ion-nav-bar class="nav-title-slide-ios7">
      	<ion-nav-title>
      	INTEREST
      	</ion-nav-title>
      	<ion-nav-buttons side="left" >
			<button ng-click="openNotificationModal()" class="button button-icon ion-android-notifications notificationIcon"><span class="notificationCount">{{notificationData.length}}</span></button>

		</ion-nav-buttons>
      	<ion-nav-buttons side="right">
			<button menu-toggle="right" ng-click="toggleLeftSideMenu()" class="button button-icon theWall icon-filter"></button>
		</ion-nav-buttons>
    </ion-nav-bar>

	<ion-content class="home_container HelveticaBody listPostStatus has-header has-footer ">
		<div class="add_post postWall clearfix">
			<div class="img_box ">
				<img ng-src="{{baseUrlStatic}}{{userDetails.picPath}}" ng-if="userDetails.picPath != null"/>
				<img ng-src="img/login_user.png" ng-if="userDetails.picPath == null"/>
			</div>
			<div class="details_box" ng-click="openModal();">
				 <!--  <label class="item item-input">
				    <input type="text" readonly placeholder="Anyone interested in drinking beer ?">
				  </label> -->
				 <div class="inputDiv">
				 	Anyone interested in drinking beer ?
				 </div>
				<div class="seprator"></div>
				<div class="post_buttons">
					<span class="ion-ios-location">Place</span>
				</div>
			</div>
		</div>
		<ion-spinner icon="android" class="defaultSpinner"></ion-spinner>
		<div class="nothingFoundMsg" ng-if="showPosts.length == 0">
			<p>No Post found, Be first to make post.</p>
		</div>
		<div class="list borderGreen" ng-repeat="post in showPosts | orderBy:'-date'" ng-click="openPostDetailModel(post)">
			<div class="row postDetail">
				<div class="col col-25 marginPadding0">
					<div class="img_box_post" ng-click="checkforProfile(post)">
						<img ng-src="{{baseUrlStatic}}{{post.picPath}}" ng-if="post.picPath != null">	
						<img ng-src="img/login_user.png" ng-if="post.picPath == null"/>	
					</div>
				</div>
				<div class="col col-75">
					<div class="usrName_post">
						{{post.name | uppercase }}
					</div>
					
					<div class="row marginPadding0">
						<div class="col marginPadding0">
							<p>Hi, i am in {{post.placeName}} from {{post.startTime}} to {{post.endTime}} on {{post.date| date: dd/m/yy}}.</p>
						</div>
					</div>
					
				</div>
			</div>
				<div class="row marginPadding0">
					<div class="col">
						
						<p>{{post.postDisc}}</p>
					</div>
				</div>
			<div class="row row-no-padding imageInfoDiv">
				<div class="col">
					<img class="img_place" ng-src="{{post.placePic}}">
				</div>
				<div class="placeNameDiv">
					<div class="placeName">{{post.placeName}}</div>
					<div class="placeDateTime">ON {{post.date | date: dd/m/yy | uppercase }} ( {{post.startTime}} TO {{post.endTime}} )</div>
				</div>
			</div>
			<div class="row textCenter cheersBar">
					<div class="col col-33" ng-class="{'liked': post.isLiked == userDetails.userID}" ng-click="showCheersPopup(post)">
					  <span class="btn_post cheersIcon"></span>
					  <div class="btnPost">{{post.likeCount}} Cheers</div>
					</div>
					<div class="col col-33 textCenter">
					  <span class="btn_post commentsIcon"> </span>
					  <div class="btnPost">{{post.commentsCount}} Comments</div>
					</div>
					<div class="col col-33 textCenter">
					  <span class="btn_post shareIcon"></span>
					  <div class="btnPost">Share</div>
					</div>
					
			</div>
			<div class="padding5" ng-if="(post.isLiked == userDetails.userID) && !post.likeApproved">Your Request is pending for approval.</div>
		</div>
		
		<div class="marginBottomFooter"></div>
	</ion-content>
	<!-- 
	<div ui-view='menu-left'></div> -->
</ion-view>