<ion-view title="THE WALL">
	<ion-nav-bar class="nav-title-slide-ios7">
      	<ion-nav-title>
      	INTEREST
      	</ion-nav-title>
      	<ion-nav-buttons side="right">
			<button menu-toggle="right" ng-click="toggleLeftSideMenu()" class="button button-icon theWall icon-filter"></button>
		</ion-nav-buttons>
    </ion-nav-bar>

	
	<div class="add_post postWall clearfix">
			<div class="img_box">
				<img src="img/girl_wall.png"/>
			</div>
			<div class="details_box" ng-click="openModal();">
				  <label class="item item-input">
				    <input type="text" readonly placeholder="Whats on your mind ?">
				  </label>
				<div class="seprator"></div>
				<div class="post_buttons">
					<span class="ion-camera"></span>
					<span class="ion-ios-location">Place</span>
				</div>
			</div>
	</div>
	<ion-content class="home_container HelveticaBody listPostStatus has-header has-footer">
		
		
		<div class="list borderGreen" ng-repeat="post in showPosts" ng-click="openPostDetailModel()">
			<div class="row ">
				<div class="col col-25 marginPadding0">
					<div class="img_box_post">
						<img src="img/sty.jpg">		
					</div>
				</div>
				<div class="col col-75 detialContainer">
					<div class="usrName_post">
						{{post.userName}}
					</div>
					<div class="time_post">{{post.timeOfPost}}</div><br>
					<div class="row marginPadding0">
						<div class="col marginPadding0">
							<div>Indian,</div>
							<div>Lives in Mumbai, IN<div class="float_right">31 Yrs</div></div>
							<div>66 Followers</div>
						</div>
					</div>
					<div class="marginPadding0">
					<div class="row">
						<div class="col follow_post marginPadding0">34 
						</div>
						<div class="col follow_post text-align-right marginPadding0">23
						</div>
					</div>
					<div class="row marginPadding0">
						<div class="col follow_post marginPadding0">
							 <div class="font15">TRAVELLED</div>
						</div>
						<div class="col follow_post text-align-right marginPadding0">
						 <div class="font15">IN COMMON</div>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col contain_post"><p>{{post.commentDis}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<img class="img_place" src="img/barcelona.jpg">
				</div>
			</div>
			
			<div class="row">
					<div class="col col-33 textCenter" ng-show="checkLikedByMe(post.likeBy)">
					  <span class="ion-android-favorite btn_post"></span><br/>
					  <div class="btnPost">{{post.likeCount}} Likes</div>
					</div>
					<div class="col col-33 textCenter" ng-click="likeThisPost(post)" ng-hide="checkLikedByMe(post.likeBy)">
					  <span class="ion-android-favorite-outline btn_post"></span><br/>
					  <div class="btnPost">{{post.likeCount}} Likes</div>
					</div>
					<div class="col col-33 textCenter">
					  <span class="ion-android-favorite-outline btn_post"> </span><br/>
					  <div class="btnPost">93 Comments</div>
					</div>
					<div class="col col-33 textCenter">
					  <span class="ion-android-favorite-outline btn_post"></span> <br/>
					  <div class="btnPost">Share</div>
					</div>
					
			</div>
		</div>
		<div class="list borderGreen" ng-click="openPostDetailModel()">
			<div class="row ">
				<div class="col col-25 marginPadding0">
					<div class="img_box_post">
						<img src="img/sty.jpg">		
					</div>
				</div>
				<div class="col col-75">
					<div class="usrName_post">
						JUUHI RAAI1233
					</div>
					<div class="time_post">3h ago</div><br>
					<!-- <div class="row marginPadding0">
						<div class="col marginPadding0">
							<div>Indian,</div>
							<div>Lives in Mumbai, IN<div class="float_right">31 Yrs</div></div>
							<div>66 Followers</div>
						</div>
					</div>
					<div class="marginPadding0">
					<div class="row">
						<div class="col follow_post marginPadding0">34 
						</div>
						<div class="col follow_post text-align-right marginPadding0">23
						</div>
					</div>
					<div class="row marginPadding0">
						<div class="col follow_post marginPadding0">
							 <div class="font15">TRAVELLED</div>
						</div>
						<div class="col follow_post text-align-right marginPadding0">
						 <div class="font15">IN COMMON</div>
						</div>
					</div>
					</div> -->
					<div class="row marginPadding0">
						<div class="col marginPadding0">
							<p>Hi, i am in $Barcelona from 2nd to 15 july 2015.
				BackPacking with few spanish friends but open to meet up some indians</p>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col contain_post"><p>Hi, i am in $Barcelona from 2nd to 15 july 2015.
				BackPacking with few spanish friends but open to meet up some indians</p>
				</div>
			</div> -->
			<div class="row">
				<div class="col">
					<img class="img_place" src="img/barcelona.jpg">
				</div>
			</div>
			<div class="row textCenter">
					<div class="col col-33">
					  <span class="ion-android-favorite-outline btn_post"></span><br/>
					  <div class="btnPost">14 Likes</div>
					</div>
					<div class="col col-33 textCenter">
					  <span class="ion-android-favorite-outline btn_post"> </span><br/>
					  <div class="btnPost">93 Comments</div>
					</div>
					<div class="col col-33 textCenter">
					  <span class="ion-android-favorite-outline btn_post"></span> <br/>
					  <div class="btnPost">Share</div>
					</div>
					
			</div>
		</div>
	</ion-content>
	<!-- 
	<div ui-view='menu-left'></div> -->
</ion-view>