<div class="modal">
        <header class="bar bar-header ">


			  <button class="button close-button button-icon" ng-click="closeModal();"><i class="icon ion-chevron-left"></i></button>
			  <h1 class="title">CREATE</h1>	
              <button class="button post-button" ng-click="postData();">POST</button>
        </header>
        
	<ion-content class="home_container wallModal">
		<div class="add_post clearfix">
			<div class="img_box">
				<img ng-src="{{baseUrlStatic}}{{userDetails.picPath}}"/>
			</div>
			<div class="details_box">
				  <label class="item item-input">
				    <textarea type="text" placeholder="Anyone interested in drinking beer?" ng-model="newpost.postDisc"></textarea>
				  </label>
				<div class="seprator"></div>
				
			</div>
		</div>


		<div class="updateWall">

		    <div class="title-input">
		      <span>INTERESTED DATE</span>
		      <span class="month">{{dates[0].getMonthText()}}</span>
		    </div>
			<input type="hidden" ng-model="newpost.date">
			<ion-scroll  direction="x" scrollbar-x="false">
	            <div class="dateSelect" style="width: 680px;">
			    	<div class="dates" ng-repeat="date in dates" ng-class="{'selectedDate': newpost.date == date}" ng-click="selectDate(date)">
			    		<div class="day">{{date.getDayText()}}</div>
			    		<div class="date">{{date.getDate()}}</div>
			    	</div>
			    </div>
        	</ion-scroll>

		  	<!-- <ionic-datepicker input-obj="datepickerObject">
	            <button class="button"><span ng-model="interestedDate">{{interestedDate | date: dd-MM-yyyy}}</span> </button>
	      	</ionic-datepicker> -->

	      	<div class="title-input">
		      TIME SLOT
		    </div>
		    <div id="sliderDiv">
		    	<rzslider rz-slider-model="newpost.startTime" rz-slider-high="newpost.endTime" rz-slider-options="slider.options"></rzslider>
		    </div>
		    
		   <!--  <div class="details_box">
		    	<label class="item item-input">
			    <input type="text" placeholder="Anyone interested in drinking beer?" ng-change="searchPlace();" ng-model="newpost.place">
			  </label>	
		    </div>
		     -->
		    <div class="title-input">
		      PLACE
		    </div>
		    <label class="item item-input">
			    <input id="placeInput" type="text" placeholder="Where you want to meet?" ng-change="searchPlace();" ng-model="newpost.placeName">
		  	</label>	
		    <div class="list placeSuggest">
		    	<ul>
		        <li class="item" ng-repeat="restaurant in restaurants" ng-click="selectResto(restaurant);">{{restaurant.restaurant.name}} - <span class="locality">{{restaurant.restaurant.location.locality}}</span></li>
		        </ul>
	      	</div>
	      	<div id="bottom"> </div>
		</div>

	</ion-content>
</div>
