 
 <ion-side-menu side="right" class="HelveticaBody" ng-controller="theWallCtrl">
      <ion-header-bar align-title="center" class="bar-filter">
  <div class="buttons">
    <button class="filter-button" ng-click="doSomething()">RESET</button>
  </div>
  <h1 class="title">FILTER</h1>
  <div class="buttons">
    <button class="filter-button myThemeColor">APPLY</button>
  </div>
</ion-header-bar>
 <ion-content class="has-header wallfilter home_container">

  <div class="title-input">
    <span>INTERESTED DATE</span>
    <!-- <span class="month">{{dates[0].getMonthText()}}</span> -->
  </div>
    <input type="hidden" ng-model="newpost.date">
    <ion-scroll  direction="x" scrollbar-x="false">
        <div class="dateSelect" style="width: 690px;">
      <div class="dates" ng-repeat="date in dates" ng-class="{'selectedDate': newpost.date == date}" ng-click="selectDate(date)">
        <div class="day">{{date.getDayText()}}</div>
        <div class="date">{{date.getDate()}}</div>
      </div>
    </div>
    </ion-scroll>
  <div class="title-input cityTitle">
    <span>CITY</span>
    <!-- <span class="month">{{dates[0].getMonthText()}}</span> -->
  </div>
  <div class="selectCity">
    <select class="city">
      <option value="PUNE">PUNE</option>
      <option value="AHMEDABAD">AHMEDABAD</option>
      <option value="DELHI">DELHI</option>
    </select>
  </div>


       <ul class="list">
POSTED BY
  <li class="item item-checkbox">
     <label class="checkbox checkbox-balanced">
       <input type="checkbox">
     </label>
     Locals
  </li>
  <li class="item item-checkbox">
     <label class="checkbox checkbox-balanced">
       <input type="checkbox">
     </label>
     Travelers
  </li>
  <li class="item item-checkbox">
     <label class="checkbox checkbox-balanced">
       <input type="checkbox">
     </label>
     Expats
  </li>

  

</ul>

<ul class="list">
CATEGORY OF POST
  <li class="item item-checkbox">
     <label class="checkbox checkbox-balanced">
       <input type="checkbox">
     </label>
     Status Update
  </li>
  <li class="item item-checkbox">
     <label class="checkbox checkbox-balanced">
       <input type="checkbox">
     </label>
     Looking for something
  </li>
  <li class="item item-checkbox">
     <label class="checkbox checkbox-balanced">
       <input type="checkbox">
     </label>
     Meet Locals
  </li>
<li class="item item-checkbox">
     <label class="checkbox checkbox-balanced">
       <input type="checkbox">
     </label>
     Meet Expats
  </li>
<li class="item item-checkbox">
     <label class="checkbox checkbox-balanced">
       <input type="checkbox">
     </label>
     Meet Travellers
  </li>

  
  
  

</ul>


      
        
      </ion-content>
    </ion-side-menu>
