<!-- <div class="loading">Loading...</div> -->

<div class="homeContainer userDetailContainer">
   <div class="userDetail-bg">
   		<div class="leftSideBar"></div>
   		<div class="rightSideBar"></div>
   		<div class="logoContainer">
	   		<div class="gameLogoBG"><div class="gameLogo"></div></div>
	   </div>
	   <form name="loginDetailsForm">
	   	
	   
		   <div class="loginDetails">
		   		<div class="inputDiv" >
		   			<label class="inputLabel" >GAME ID<span class="requiredIcon">*</span></label>
		   			<input type="text" name="gameid" ng-model="user.gameid" ng-required="true"></input>
		   		</div>
		   		<div class="inputDiv" >
		   			<label class="inputLabel" >PASSWORD<span class="requiredIcon">*</span></label>
		   			<input type="password" name="gamePass" ng-model="user.gamePass" ng-required="true"></input>
		   		</div>
		   		
	            <div class="submitButton submitImg" ng-click="submitForm()"></div>

	       <!-- <img src="img/login_submit_btn.png" class="submitButton" align="middle" ng-click='submitForm()'/>-->

		   </div>
	   </form>

	   
   </div>

   
</div>