<!-- <div class="loading">Loading...</div> -->

<div class="homeContainer userDetailContainer">
   <div class="userDetail-bg">
   		<div class="leftSideBar"></div>
   		<div class="rightSideBar"></div>
   		<div class="logoContainer">
	   		<div class="gameLogoBG"><div class="gameLogo"></div></div>
	   </div>
	   <form name="loginDetailsForm">
	   	
	   
		   <div class="loginDetails">
		   		<div class="inputDiv" ng-show='loginFormField.company.include'>
		   			<label class="inputLabel" >COMPANY<span class="requiredIcon" ng-show='loginFormField.company.required'>*</span></label>
		   			<input type="text" name="company" ng-model="user.company" ng-required ="loginFormField.company.required"></input>
		   		</div>
		   		<div class="inputDiv" ng-show='loginFormField.first_name.include'>
		   			<label class="inputLabel" >FIRST NAME<span class="requiredIcon" ng-show='loginFormField.first_name.required'>*</span></label>
		   			<input type="text" name="first_name" ng-model="user.first_name" ng-required ="loginFormField.first_name.required"></input>
		   		</div>
		   		<div class="inputDiv" ng-show='loginFormField.last_name.include'>
		   			<label class="inputLabel" >LAST NAME<span class="requiredIcon" ng-show='loginFormField.last_name.required'>*</span></label>
		   			<input type="text" name="last_name" ng-model="user.last_name" ng-required ="loginFormField.last_name.required"></input>
		   		</div>
		   		
		   		<div class="inputDiv" ng-show='loginFormField.address_1.include'>
		   			<label class="inputLabel" >ADDRESS 1<span class="requiredIcon" ng-show='loginFormField.address_1.required'>*</span></label>
		   			<input type="text" name="address_1" ng-model="user.address_1" ng-required ="loginFormField.address_1.required"></input>
		   		</div>
	            <div class="inputDiv" ng-show='loginFormField.address_2.include'>
		   			<label class="inputLabel" >ADDRESS 2<span class="requiredIcon" ng-show='loginFormField.address_2.required'>*</span></label>
		   			<input type="text" name="address_2" ng-model="user.address_2" ng-required ="loginFormField.address_2.required"></input>
		   		</div>
	               
	            <div class="inputDiv" ng-show='loginFormField.city.include'>
		   			<label class="inputLabel" >CITY<span class="requiredIcon" ng-show='loginFormField.city.required'>*</span></label>
		   			<input type="text" name="city" ng-model="user.city" ng-required ="loginFormField.city.required"></input>
		   		</div>
	            <div class="inputDiv" ng-show='loginFormField.state.include'>
		   			<label class="inputLabel" >STATE<span class="requiredIcon" ng-show='loginFormField.state.required'>*</span></label>
		   			<input type="text" name="state" ng-model="user.state" ng-required ="loginFormField.state.required"></input>
		   		</div>
	            <div class="inputDiv" ng-show='loginFormField.zip_code.include'>
		   			<label class="inputLabel" >ZIP CODE<span class="requiredIcon" ng-show='loginFormField.zip_code.required'>*</span></label>
		   			<input type="text" name="zip_code" ng-model="user.zip_code" ng-required ="loginFormField.zip_code.required"></input>
		   		</div>
		   		<div class="inputDiv" ng-show='loginFormField.email.include'>
		   			<label class="inputLabel" >EMAIL<span class="requiredIcon" ng-show='loginFormField.email.required'>*</span></label>
		   			<input type="email" name="email" ng-model="user.email" ng-required ="loginFormField.email.required"></input>
		   		</div>
		   		<div class="inputDiv" ng-show='loginFormField.phone_number.include'>
		   			<label class="inputLabel" >PHONE NUMBER<span class="requiredIcon" ng-show='loginFormField.phone_number.required'>*</span></label>
		   			<input type="text" name="phone_number" ng-model="user.phone_number" ng-required ="loginFormField.phone_number.required" maxlength="10"></input>
		   		</div>
		   		<div class="inputDiv" ng-show='loginFormField.birth_date.include'>
		   			<label class="inputLabel" >BIRTH DATE<span class="requiredIcon" ng-show='loginFormField.birth_date.required'>*</span></label>
		   			<input type="date" name="birth_date" ng-model="user.birth_date" ng-required ="loginFormField.birth_date.required"></input>
		   		</div> 
		   		<div class="inputDiv" ng-show='loginFormField.questions.length >= 1'>
		   			<label class="inputLabel" >QUESTIONS</label>
		   			<div class="questionsDiv">
		   				<div ng-repeat = "que in loginFormField.questions">
			   				<input type="checkbox" class="checkbox" ng-model="$index" ng-required ="que.required" ng-checked="que.checked"></input>
			   				<div class="queText">
			   					<span class="requiredIcon" ng-show='loginFormField.birth_date.required'>*</span>{{que.text}}	
			   				</div>	
			   			</div>
			   			<div style="clear:both;"></div>
			   				
		   			</div>
		   			<div style="clear:both;"></div>
		   		</div> 
	            <!-- <div class="inputDiv" ng-show='loginFormField.questions.include'>
		   			<label class="inputLabel"> QUESTIONS</label>
		   			<input type="text"></input>
		   		</div> -->
	            <div class="submitButton submitImg" ng-click="submitForm()"></div>

	       <!-- <img src="img/login_submit_btn.png" class="submitButton" align="middle" ng-click='submitForm()'/>-->

		   </div>
	   </form>

	   <div class="clintDetailLogin">
	   		<div class="clientDetails">
	<!--        <img src="img/clinet_logo_text.png">-->
	    	<div class="clientName">{{loginResponse.name}}</div>
	    	<div class="clientAmount">{{loginResponse.prize_description}}</div>
	    </div>
	   </div>
   </div>

   
</div>