<!-- <div class="loading">Loading...</div> -->

<div class="homeContainer">
   <div class="userDetail-bg">
   		<div class="leftSideBar"></div>
   		<div class="rightSideBar"></div>
   		<div class="logoContainer">
	   		<div class="gameLogoBG"><div class="gameLogo"></div></div>
	   </div>

	   <div class="loginDetails">
	   		<div class="inputDiv">

	   			<label class="inputLabel">FIRST NAME</label>
	   			<input type="text"></input>
	   		</div>
	   		<div class="inputDiv">
	   			<label class="inputLabel">LAST NAME</label>
	   			<input type="text"></input>
	   		</div>
	   		<div class="inputDiv">

	   			<label class="inputLabel">MOBILE</label>
	   			<input type="text"></input>
	   		</div>
	   		<div class="inputDiv">

	   			<label class="inputLabel">EMAIL</label>
	   			<input type="text"></input>
	   		</div>
            <div class="submitButton submitImg" ng-click="submitForm()"></div>

       <!-- <img src="img/login_submit_btn.png" class="submitButton" align="middle" ng-click='submitForm()'/>-->

	   </div>
	   <div class="clintDetailLogin">
	   		<div class="clientDetails">
	<!--        <img src="img/clinet_logo_text.png">-->
	    	<div class="clientName">JOHN SMITH'S CHEVROLET</div>
	    	<div class="clientAmount">$25,000 GIVEAWAY</div>
	    </div>
	   </div>
   </div>

   
</div>