<ion-view title="FOLLOWERS">

  <ion-content class="home_container HelveticaBody followerWrapper">
    
    
    <div class="list">
      <div class="followerGrid" ng-click="goToPublicProfile()">
          <div class="followerGridRow">
            <img src="img/sty.jpg" class="image">
            <div class="detail">
              <div class="row">
                <div class="Profile-highlight">
                  <ul>
                    <li><label>500</label><br><label>PLACES</label></li>
                    <li><label>200</label><br><label>IN COMMON</label></li>
                  </ul>   
                </div>
              </div>
              <div class="row">
                <span class="transperentBtn">FOLLOW KIMMI</span>
              </div>
            </div>
          </div>
      </div>
      <div class="followerGrid" ng-click="goToPublicProfile()">
          <div class="followerGridRow">
            <img src="img/stylish girls.jpg" class="image">
            <div class="detail">
              <div class="row">
                <div class="Profile-highlight">
                  <ul>
                    <li><label>500</label><br><label>PLACES</label></li>
                    <li><label>200</label><br><label>IN COMMON</label></li>
                  </ul>   
                </div>
              </div>
              <div class="row">
                <span class="transperentBtn">FOLLOW KIMMI</span>
              </div>
            </div>
          </div>
      </div>
      <div class="followerGrid" ng-click="goToPublicProfile()">
          <div class="followerGridRow">
            <img src="img/sty.jpg" class="image">
            <div class="detail">
              <div class="row">
                <div class="Profile-highlight">
                  <ul>
                    <li><label>500</label><br><label>PLACES</label></li>
                    <li><label>200</label><br><label>IN COMMON</label></li>
                  </ul>   
                </div>
              </div>
              <div class="row">
                <span class="transperentBtn">FOLLOW KIMMI</span>
              </div>
            </div>
          </div>
      </div>
      <div class="followerGrid" ng-click="goToPublicProfile()">
          <div class="followerGridRow">
            <img src="img/stylish girls.jpg" class="image">
            <div class="detail">
              <div class="row">
                <div class="Profile-highlight">
                  <ul>
                    <li><label>500</label><br><label>PLACES</label></li>
                    <li><label>200</label><br><label>IN COMMON</label></li>
                  </ul>   
                </div>
              </div>
              <div class="row">
                <span class="transperentBtn">FOLLOW KIMMI</span>
              </div>
            </div>
          </div>
      </div>
      <div class="followerGrid" ng-click="goToPublicProfile()">
          <div class="followerGridRow">
            <img src="img/sty.jpg" class="image">
            <div class="detail">
              <div class="row">
                <div class="Profile-highlight">
                  <ul>
                    <li><label>500</label><br><label>PLACES</label></li>
                    <li><label>200</label><br><label>IN COMMON</label></li>
                  </ul>   
                </div>
              </div>
              <div class="row">
                <span class="transperentBtn">FOLLOW KIMMI</span>
              </div>
            </div>
          </div>
      </div>
      <div class="followerGrid" ng-click="goToPublicProfile()">
          <div class="followerGridRow">
            <img src="img/stylish girls.jpg" class="image">
            <div class="detail">
              <div class="row">
                <div class="Profile-highlight">
                  <ul>
                    <li><label>500</label><br><label>PLACES</label></li>
                    <li><label>200</label><br><label>IN COMMON</label></li>
                  </ul>   
                </div>
              </div>
              <div class="row">
                <span class="transperentBtn">FOLLOW KIMMI</span>
              </div>
            </div>
          </div>
      </div>
      
    </div>
  </ion-content>
</ion-view>