<ion-view hide-nav-bar="true" class="signup view-container">
    <ion-content class="has-footer">
    <div class="signup_container imageHeader" style="
    background-image: url(&quot;img/girl_wall.png&quot;);
    height: 250px;
    width: 100%;
">
      <div class="profile_header padding">
              <span class="back_button" ng-click="$ionicGoBack()"></span><span class="heading">PROFILE</span>
              <div class="transperentBtnHead">
                <span class="transperentBtn">EDIT</span>
              </div>
      </div>
     
      <!-- <div class="Profile-highlight">
        <ul>
          <li><label>1000</label></br><label>FOLLOWERS</label></li>
          <li><label>300</label></br><label>POSTS</label></li>
          <li ng-click="goTOFollowerPage()"><label>200</label></br><label>FOLLOWINGS</label></li>
        </ul>   
      </div> -->
    </div>

    <div class="profile-content">
      <div class="profileTabs">
        <div class="profileName item item-icon-right">
            <span>PROFILE NAME</span>
            <i class="icon ion-star"></i>
        </div>
        <div class="borderBlack"></div>
      </div>
      <div class="list">

        <a class="item item-icon-right" href="#">
          MY INTEREST
          <i class="icon ion-chevron-right"></i>

        </a>
        <a class="item item-icon-right" href="#">
          EXPERIENCE
          <i class="icon ion-chevron-right"></i>
        </a>
        <a class="item item-icon-right" href="#">
          MY PHOTOS
          <i class="icon ion-chevron-right"></i>
        </a>

      </div>

      
    </div>
    
    </ion-content>
   
</ion-view>

