<ion-view title="VERIFY MOBILE NUMBER">
    <ion-nav-bar class="nav-title-slide-ios7 barTitleLeft">
      <ion-nav-title>
      VERIFY MOBILE NUMBER
      </ion-nav-title>
      <ion-nav-buttons side="left">
       <button class="button close-button button-icon" ng-click="closeOtpModel()"><i class="icon ion-chevron-left"></i></button>
      </ion-nav-buttons>
    </ion-nav-bar>


    <ion-content class="signup_container signup HelveticaBody has-header has-footer" >
      <div class="signup_header padding">
      <div class="list list-solid padding">
        
      <div class="errorMsg">
            <p ng-show="signupError" class="signupError">Email id or Mobile number already registered.</p>
      </div>
      <form name="chnagePassForm" autocomplete="off">
        <div class="signupInput">

          <label class="item">
            OTP
            <input type="tel" name="otp" ng-model='otpObj.otp' maxlength="6" ng-minlength="6" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ui-mask="999-999" class="otpInput">
          </label>
          <div class="errorMsg">
            <p ng-show="chnagePassForm.otp.$error.required && chnagePassForm.otp.$touched">OTP is required.</p>
          </div>
          
          <!-- <label class="item">
            Password
            <input type="password" name="password" ng-model='otpObj.password' ng-minlength="6" required>
          </label>
          <div class="errorMsg">
            <p ng-show="chnagePassForm.password.$error.required && chnagePassForm.password.$touched">Password is required.</p>
            <p ng-show="chnagePassForm.password.$error.minlength && chnagePassForm.password.$touched">Password length must be more than 6.</p>
            <p ng-show="chnagePassForm.confirmPassword.$touched && chnagePassForm.password.$touched && otpObj.password != otpObj.confirmPassword">Password and Confirm Password not match.</p>
          </div>
          <label class="item">
            Confirm Password
            <input type="password" name="confirmPassword" ng-model='otpObj.confirmPassword' required>
          </label>
          <div class="errorMsg">
            <p ng-show="chnagePassForm.confirmPassword.$error.required && chnagePassForm.confirmPassword.$touched">Confirm Password is required.</p>
          </div> -->
          

          </div>
        </form>
        
        </div>
      
        <button type="submit" class="button button-block button-signup" ng-click="signup(chnagePassForm); startDobValidation = true;" ng-if="!disableEdit">
          <span class="sign-up HelveticaHeading">Confirm</span>
          
        </button>
      
   <!--    <ionic-datepicker input-obj="datepickerObject">
            <button class="button button-block button-positive"> </button>
      </ionic-datepicker> -->
    </ion-content>
   
</ion-view>